<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Survey results:</h1>
	<h3>Name: <%= user.txt_name %></h3>
	<h3>Dojo Location: <%= user.txt_location %></h3>
	<h3>Favorite Language: <%= user.txt_language %></h3>
	<h3>Comment:</h3>
	<%= user.comment %>
	
</body>
</html>


